.destination-page {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../../assets/images/map.avif") no-repeat center center/cover;
  position: relative;
}

.destination-page .hero-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.destination-page .hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .destination-page .hero-title {
    font-size: 2rem;
  }
}
